* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#container {
  max-width: 1200px;
  margin: 10px auto;
}
.product-container {
  position: relative;
  margin: 10px 0;
  padding: 15px;
  border: 2px solid black;
  border-radius: 5px;
}
.product-container > input[type="checkbox"] {
  position: absolute;
  right: 10px;
  top: 10px;
}
header {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 10;
}
#header-div {
  width: 100%;
  display: table;
  padding: 15px 30px;
}
#header-div > div {
  display: table-cell;
}
#header-div > #functions {
  text-align: right;
}
#header-div h1,
#header-div button {
  display: inline-block;
  vertical-align: middle;
}
#header-div button {
  margin: 0 5px;
  padding: 5px 30px;
  border: 1px solid black;
  border-radius: 5px;
  color: black;
  background-color: white;
  cursor: pointer;
  outline: none;
}
#header-div button:hover {
  background-color: lightgray;
}
