* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#container {
	max-width: 1200px;
	margin: 10px auto;
	padding: 15px;
	
	p#error {
		text-align: center;
		color: red;
	}
}

.regular-container {
	margin: 5px 0;
	padding: 10px;

	label, input {
		display: inline-block;
		margin-right: 10px;
		vertical-align: middle;
	}

	label {
		width: 95px;
	}

	input, select {
		border: 1px solid black;
		border-radius: 5px;
		outline: none;
		padding: 5px;
		width: calc(~"100% - 135px");

		&:focus {
			border: 1px solid blueviolet;
		}
	}
}

#button-container {
	text-align: center;
	
	button {
		background-color: white;
		color: black;
		padding: 5px 30px;
		border: 1px solid black;
		border-radius: 5px;
		outline: none;
		cursor: pointer;

		&:hover {
			background-color: lightgray;
		}
	}
}

header {
	background: white;
	position: sticky;
	top: 0;
	z-index: 10;
}

#header-div {
	width: 100%;
	display: table;
	padding: 15px 30px;
}